In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
train = pd.read_csv("Downloads\Train.csv", header=0, sep=',', parse_dates=['datetime'])

In [4]:
train

       uid             datetime  latitude  longitude
0        1  2018-01-01 00:25:46 -1.188850  36.931382
1        2  2018-01-01 02:02:39 -0.662939  37.208730
2        3  2018-01-01 02:31:49 -0.662939  37.208730
3        4  2018-01-01 03:04:01 -1.288087  36.826583
4        5  2018-01-01 03:58:49 -1.188850  36.931382
...    ...                  ...       ...        ...
6313  6314  2019-06-29 18:52:44 -1.262271  36.726540
6314  6315  2019-06-30 09:57:44 -1.279468  36.790449
6315  6316  2019-06-30 12:02:14 -1.322109  36.825248
6316  6317  2019-06-30 16:59:14 -1.278589  36.816518
6317  6318  2019-06-30 20:06:14 -1.211500  36.907635

[6318 rows x 4 columns]

In [5]:
train.isna().sum()

uid          0
datetime     0
latitude     0
longitude    0
dtype: int64

In [7]:
weather = pd.read_csv('Downloads/weather_Nairobi_Daily_GFS.csv', header=0, sep=',')

In [8]:
weather

,Date,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground
0,2018-01-01,24.100000,72.700005,0.009560,15.161493,-0.012186,-0.933914
1,2018-01-02,27.362288,74.900002,0.010463,16.047998,0.314543,-0.485459
2,2018-01-03,30.246618,86.599998,0.011930,15.838525,-0.282732,-0.653965
3,2018-01-04,33.010689,90.900002,0.012780,16.169244,0.211572,0.908123
4,2018-01-05,27.250372,82.413353,0.011392,15.923456,1.047275,-0.037742
...,...,...,...,...,...,...,...
726,2019-12-28,31.020416,87.099998,0.012772,16.854364,-0.930054,-1.511265
727,2019-12-29,28.900000,88.900002,0.012430,16.086237,-0.884575,-0.639897
728,2019-12-30,21.600000,89.300003,0.012130,15.670770,-2.423813,-1.155928
729,2019-12-31,16.500000,85.000000,0.010974,14.947778,-1.415813,-2.028264
730,2020-01-01,15.900001,84.500000,0.010860,14.866235,-1.509448,-2.272683

In [9]:
weather.isna().sum()

Date                                    0
precipitable_water_entire_atmosphere    3
relative_humidity_2m_above_ground       3
specific_humidity_2m_above_ground       3
temperature_2m_above_ground             3
u_component_of_wind_10m_above_ground    3
v_component_of_wind_10m_above_ground    3
dtype: int64

In [13]:
SEED = 42
np.random.seed(SEED)

In [14]:
ambulance_loc = np.random.randn(6,2)*0.04

In [15]:
ambulance_loc

array([[ 0.01986857, -0.00553057],
       [ 0.02590754,  0.06092119],
       [-0.00936613, -0.00936548],
       [ 0.06316851,  0.03069739],
       [-0.01877898,  0.0217024 ],
       [-0.01853671, -0.01862919]])

In [17]:
origin_pos = np.array([-1.27, 36.85])
ambulance = ambulance_loc * origin_pos

In [18]:
ambulance

array([[-0.02523308, -0.20380158],
       [-0.03290258,  2.24494601],
       [ 0.01189499, -0.34511787],
       [-0.08022401,  1.13119879],
       [ 0.0238493 ,  0.7997335 ],
       [ 0.02354162, -0.68648566]])

In [19]:
from sklearn.cluster import KMeans
kmeans = KMeans(
init = 'random',
n_clusters=ambulance.length,
n_init=10,
max_iter=300,
random_state=42
)
kmeans.fit(ambulance)

AttributeError: 'numpy.ndarray' object has no attribute 'length'

In [20]:
accident_sites = (train[['latitude', 'longitude']].values)

In [25]:
import math
def distance_diff(accident_sites, ambulance):
    #
    dists_diff = accident_sites - ambulance[0]
    distances = (dists_diff[:,0]**2 + dists_diff[:,1]**2)**0.5
    minimum_dists = distances
    for i in range(1,6):
        #find shortest distance to the nearest ambulance
        dists_diff = accident_sites - ambulance[i]
        distances = (dists_diff[:,0]**2 + dists_diff[:,1]**2)**0.5
        
        min_distances = min(distances)

    return min_distances.mean()

In [26]:
distance_diff(accident_sites, ambulance)

37.034284243572515